# environment
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

.pytest_cache/
.coverage
htmlcov/

*.log
docker-data/

.vscode/
.idea/

/notices
notices
/notices/
vc_rag_service.egg-info/requires.txt
